body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
}

main{
  flex-grow: 1;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}

footer{
  color: #f0f1ed;
  background-color: #535353;
  color: #767575;
}

.img-detail{
  height: 50vh;
}
